/* Start Google Font (For JEO Guru Responsive HTML5 Web Template) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
/* End Google Font (For JEO Guru Responsive HTML5 Web Template) */
/* Start Color */
:root{
    --navyblue:#6930c3;
    --blue:#221b68;
}
/* End Color */
body {
    margin: 0;
    color: #221b68;
    font-family: "Roboto", sans-serif; 
}
.container{
    max-width: 1170px;
}
/* Start Heading Tag Size */
h1 {
    color: #221b68;
    font-size: 60px; 
}
h2 {
    color: #221b68;
    font-size: 48px; 
}
h3 {
    color: #221b68;
    font-size: 30px; 
}
h4 {
    color: #221b68;
    font-size: 24px; 
}
h5 {
    color: #221b68;
    font-size: 18px; 
}
h6 {
    color: #6930c3;
    font-size: 14px;
    margin-bottom: 0; 
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 0; }
/* End Heading Tag Size */ 

/* Start Peragraf Tag Size */
p {
    color: #221b68;
    margin-bottom: 10px;
    font-weight: 500; 
}
/* End Peragraf Tag Size */

/* Start Others Css */
ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}
a{
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none; 
}
input:focus,textarea:focus,select:focus,button:focus,.slick-slide {
    outline: none; 
}
button {
    cursor: pointer; 
}
img {
    width: 100%;
    height: auto;
    display: block; 
}
.area-title{
    color: var(--blue);
}
.site-title-color{
    color:var(--navyblue);
}
/* End Others css */

/* Start Primary Button */
.frist-btn{
    background: #6930c3;
    border-radius: 6px;
    padding: 13px 0;
    width: 143px;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
} 
.frist-btn:hover{
    color: #ffffff;
}
.frist-btn::before{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #221b68;
    z-index: -1;
    transition: transform 0.5s;
    border-radius: 6px;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.frist-btn:hover::before{
    transform: scaleX(1);
}
/* End Primary Button */

/* Start Top To Scroll Button */
#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 9999999;
}
#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: var(--blue);
}
/* End Top To Scroll Button */

/* Start Sticky Menu */
.header-menu.header-sticky{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 80;
    -webkit-box-shadow: 0px 15px 50px 0px rgba(11, 11, 11, 0.08);
    box-shadow: 0px 15px 50px 0px rgba(11, 11, 11, 0.08);
    -webkit-animation: 1.5s flipInX;
    animation: 1.5s flipInX;
}
/* End Sticky Menu */

/* Start Header Area */
 .header-area{
    background: #ffffff;
}
.header-top{
    padding: 14px 0;
    border-bottom: 1px solid #f1f1f1;
}
.header-top .info-icon{
    color:var(--navyblue);
    margin-right: 10px;
    width: 33px;
    height: 33px;
    font-size: 18px;
    display: inline-block;
    padding-top: 3px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid var(--navyblue);
    transition: 0.3s;
}
.header-top .info-icon:hover{
    color: var(--blue);
}
.header-top .info-text{
    color:var(--navyblue);
    font-weight: 600;
    transition: all 0.3s;
}
.header-top .info-text:hover{
    color: var(--blue);
}
.header-top .header-social-icons{
    text-align: center;
}
.header-top .header-social-icons > a{
    color:var(--navyblue);
    margin-right: 10px;
    width: 33px;
    height: 33px;
    font-size: 18px;
    display: inline-block;
    padding-top: 3px;
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    border: 1px solid var(--navyblue);
    transition:all 0.3s ease-in;
}
.header-top .header-social-icons > a:hover{
    background-color: var(--navyblue);
    color: #ffffff;
    transform: scale(1.1);
}
.header-top .header-number{
    text-align: right;
}
/* End Header Area */
.header-menu{
    padding: 14px 0;
    box-shadow: 0px 10px 20px 0px rgba(176, 176, 176, 0.1);
}
/* Start Header Logo*/
.header-menu .logo{
    width: 180px;
}
/* End Header Logo */

/* Start Header Menu */
.header-menu .nav-menu{
	padding: 0 15px;
}
.header-menu .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header-menu .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #535c7c;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header-menu .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header-menu .menu > .menu-item > a .plus:before,
.header-menu .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #535c7c;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header-menu .menu > .menu-item:hover > a .plus:before,
.header-menu .menu > .menu-item:hover > a .plus:after{
   background-color: var(--navyblue);
}
.header-menu .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header-menu .menu > .menu-item > .sub-menu > .menu-item > a:hover{
    margin-left: 5px;
    transition: 0.3s ease-in;
}
.header-menu .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header-menu .menu > .menu-item:hover > a{
	color: var(--navyblue);
    margin-left: 5px;
}
.header-menu .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid var(--navyblue);
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
    z-index: 99999;
}
@media(min-width: 992px){
.header-menu .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header-menu .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header-menu .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header-menu .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header-menu .open-nav-menu{
	height: 0;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: end;
	cursor: pointer;
}
.header-menu .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
    bottom: 32px;
    right: -12px;
}
.header-menu .open-nav-menu span:before,
.header-menu .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.header-menu .open-nav-menu span:before{
	top:-7px;
}
.header-menu .open-nav-menu span:after{
	top:7px;
}
.header-menu .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header-menu .close-nav-menu img{
	width: 16px;
}
.header-menu .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/* End Header Menu */
.header-menu .leng-and-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Start Lenguage Switching */
.leng-and-btn .cuntry-lang{
    display: flex;
    align-self: center;
    padding: 14px 0;
    position: relative;
}
.leng-and-btn .cuntry-flag{
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
}
.leng-and-btn .showing-flag{
    margin-right: 10px;
    display: block;
    width: 30px;
}
.leng-and-btn a.showing-text {
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-top: 3px;
    color: #535c7c;
}
.leng-and-btn .span.showing-arrow{
    font-weight: 900;
    font-family: 'FontAwesome 6 Free';
    font-size: 12px;
    margin-left: 2px;
}
.leng-and-btn ul.more-lang {
    position: absolute;
    background: #ffff;
    padding: 12px;
    width: 100px;
    left: 0;
    top: 90px;
    z-index: 999999;
    transition: all 0.3s ease-in;
    box-shadow: 0px 10px 20px 0px rgba(176, 176, 176, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;
}
.leng-and-btn ul.more-lang::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    top:0;
    left: 0;
    background-color: var(--navyblue);
}
.leng-and-btn ul.more-lang li {
    display: flex;
    align-items: center;
}
.leng-and-btn ul.more-lang li:last-child {
    margin-top: 13px;
}
.leng-and-btn ul.more-lang li a {
    color: #535c7c;
    display: block;
    font-weight: bold;
    transition: all 0.3s ease-in;
}
.leng-and-btn ul.more-lang li a:hover{
    color: var(--navyblue); 
}
.leng-and-btn ul.lang-open{
    opacity: 1;
    top: 72px;
    visibility: visible;
}
/* End Lenguage Switching */

/* Start Hero Area */
.hero-area{
    position: relative;
    /* padding-top: 120px;
    padding-bottom: 95px; */
}
.hero-area .hero-left-shep{
    position: absolute;
    width: 100px;
    top: 10%;
    left: 13%;
}
.hero-area .hero-right-shep{
    position: absolute;
    width: 100px;
    left: 85%;
    right: 6%;
    top: 2%;
}
.hero-area .hero-bg-shep{
    width:100px;
}
.all-customar .all-customar-title{
    display: block;
    font-weight: 700;
    margin-bottom: 15px;
}
.all-customar .all-customar-img > img{
    width: 180px;
}
.hero-area .heading-or-title{
    padding-right: 65px;
    margin-top: 30px;
}
.hero-area .heading-or-title > h1 > span{
    color: var(--navyblue);
}
.hero-area .slider-img-content {
    padding-top: 60px;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
@keyframes floatImage {
    0% {
        transform:translateY(0);
    }
    50% {
        transform:translateY(-24px);
    }
    100% {
        transform:translateY(0);
    }
}
.slider-btns a.fist-slider-btn {
    border-radius: 6px;
    padding: 20px 50px 20px 50px;
    color: #ffffff;
    text-align: center;
    background-color: var(--navyblue);
    transition: all 0.3s;
    margin-right: 12px;
    border-width: 1px;
    border: 1px solid none;
}
.slider-btns a.fist-slider-btn:hover{
    background: transparent;
    border: 1px solid var(--navyblue);
    color:#535c7c;
    font-weight: 700;
    border-width: 1px;

}.slider-btns{
    margin-top: 70px;
}
.slider-btns a.second-slider-btn{
    background: transparent;
    border: 1px solid var(--navyblue);
    color:#535c7c;
    border-width:1px;
    border-radius: 6px;
    padding: 20px 50px 20px 50px;
    transition: all 0.3s;
    margin-left: 12px;
}
.slider-btns a.second-slider-btn:hover {
    border-radius: 6px;
    padding: 20px 50px 20px 50px;
    color: #ffffff;
    text-align: center;
    background-color: var(--navyblue);
    transition: all 0.3s;
}
/* End Hero Area */

/* Start Services Area */
.services-area{
    padding-top: 35px;
    padding-bottom: 95px;
}
.services-area .services-icon > img {
    width: 80px;
}
.services-area .services-content {
    border: 2px solid #d7e2ff;
    padding: 35px 30px;
    margin-top: 40px;
    transition: all 0.3s ease-in;
}
.services-area .services-title {
    display: block;
    text-align: left;
    margin-bottom: 13px;
    margin-top: -15px;
}
.services-area .services-icon {
    display: block;
    text-align: left;
    margin-bottom: 35px;
}
.services-area .services-title > h3,
.services-area .services-discription > p,
.services-area .services-btn > a {
    color: var(--blue);
}
.services-area .services-discription > p,
.services-area .services-btn > a{
    font-weight: 600;
    transition: 0.3s;
    font-size: 15px;
}
.services-area .services-btn > a:hover{
    margin-left: 10px;
    color: #e91e63;
}
.services-area .services-discription,
.services-area .services-btn {
    display: block;
    text-align: left;
}
.services-area .services-content:hover{
    background: var(--navyblue);
    transform: scale(0.9);
    border: 1px solid var(--navyblue);   
    color:#fff;
}
.services-area .services-content:hover h3, 
.services-area .services-content:hover p, 
.services-area .services-content:hover 
a{
    color: #fff;
}
/* End Services Area */

/* Start Feature Are */
.feature-area{
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
}
.feature-left-shep{
    position: relative;
}
span.feature-left-shep > img {
    width: 100px;
    position: relative;
    top: 40px;
    left: 40px;
}
.feature-images {
    position: relative;
}
.feature-main-img-shep {
    position: absolute;
    width: 220px;
    right: -165px;
    bottom: -60px;
}
.feature-images > img{
    position: relative;
}
.feature-content > .area-title {
    display: block;
    text-align: left;
}
span.features-video-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 30px;
    background: var(--navyblue);
    z-index: 99;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    color: #ffffff;
    top: 40%;
    left: 35%;
    cursor: pointer;
}
span.features-video-btn::before{
    position: absolute;
    content: '';
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 10px solid var(--navyblue);
    border-radius: 50%;
    opacity: 0;
    animation: feature-video1 0.9s linear infinite;
}
span.features-video-btn::after{
    position: absolute;
    content: '';
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 10px solid var(--navyblue);
    border-radius: 50%;
    opacity: 0;
    animation: feature-video2 0.9s linear infinite;
    opacity: 0;
}
@keyframes feature-video1{
    0%{
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
    }
}
@keyframes feature-video2{
    0%{
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
    }
}
.feature-category{
    margin-top: 30px;
    display: flex;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
}
.feature-category-icon {
    margin-top: 10px;
}
.feature-text-icon-etc {
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}
.feature-text-icon-etc > h5 {
    margin-bottom: 10px;
    color: var(--navyblue);
}
.feature-text-icon-etc > p{
    color: var(--blue);
}
/* End Feature Area */

/* Start Portfolio Area */
.portfolio-area{
    position: relative;
    overflow: hidden;
    padding-top: 110px;
    padding-bottom: 100px;
}
.pr-bg-left,
.pr-bg-right{
    position: absolute;
    width: auto;
    left: 5px;
    top: 100px; 
}
.pr-bg-right{
    left: auto;
    right: 5px;
}
.all-portfolio-items {
    padding-top: 50px;
}
.protfoli-item {
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(0.9);
}
.portfolio-btn {
    text-align: center;
    margin-top: 15px;
}
.portfolio-info {
    background: var(--navyblue);
    padding: 30px 0;
    text-align: left;
    position: absolute;
    padding-left: 30px;
    z-index: 1;
    width: 100%;
    bottom: -130px;
    transition: 0.5s;
}
.protfoli-item:hover .portfolio-info{
    bottom: 0px;
}
.protfoli-item:hover{
    transform: scale(1);
}
.portfolio-info > p {
    margin-left: 45px;
}
.portfolio-info > p,
.portfolio-info > h4 {
    color: #ffffff;
}
.portfolio-info > p::before{
    width: 32px;
    height: 5px;
    background-color: #ffffff;
    content: '';
    position: absolute;
    top: 37px;
    left: 30px;
}
/* End Portfolio Area */

/* Start Best Design Area */
.bt-design {
    padding-top: 50px;
    padding-bottom: 95px;
}
.bt-design-title {
    text-align: left;
}
.all-bt-design-item {
    display: flex;
    background: #ffffff;
    padding: 30px 75px 15px 15px;
    box-shadow: 0px 15px 30px 0px rgba(47, 109, 255, 0.1);
    margin: 0 0 30px 0;
}
.bt-design-info {
    text-align: left;
    margin-left: 15px;
}
.bt-design-icon {
    margin-top: 10px;
}
p.bt-design-date{
    color: var(--navyblue);
}
p.bt-design-discription {
    margin-top: 12px;
    font-size: 14px;
    color: #3e436c;
}
.all-bt-design-items {
    padding-top: 50px;
}
/* End Best Design Area */

/* Start Counter Area */
.counter-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.counter-icon {
    width: 80px;
    height: 80px;
    padding: 20px;
    background: #ffffff;
    clip-path: polygon(50% 0, 49% 0, 100% 30%, 100% 70%, 54% 100%, 50% 100%, 0% 70%, 0% 30%);
    box-shadow: 0px 15px 30px 0px rgba(47, 109, 255, 0.1);
}
.counter-info > h3 {
    display: inline-block;
}
.counter-info > .counter-plus-icon {
    /* margin-left: 2px; */
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
}
.counter-info .counter-discription {
    display: block;
    font-weight: bold;
}
.counter-info {
    margin-left: 15px;
    text-align: left;
}
.all-counter-items {
    margin-top: 90px;
}
/* End Counter Area */

/* Start Pricing Area */
.pricing-area{
    overflow: hidden;
    position: relative;
    padding: 110px 0 95px 0;
}
.pricing-bg-left{
    position: absolute;
    width: 350px;
    top: 0;
    left: 0;
    z-index: -1;
}
.pricing-bg-right{
    position: absolute;
    width: 350px;
    right: 0;
    top: 0;
    z-index: -1;
}
.pricing-bg-circle{
    position: absolute;
    z-index: -1;
    top: 20%;
    right: 15%;
    width: 100px;
}
.tabing-btn {
    margin-top: 55px;
}
.tabing-btn > ul li {
    display: inline-block;
}
.tabing-btn > ul {
    box-shadow: 0px 15px 30px 0px rgb(47 109 255 / 10%);
    background-color: #ffffff;
    border-radius: 6px;
    display: inline-block;
}
.tabing-btn > ul li a {
    text-transform: capitalize;
    font-weight: 500;
    color: #6930c3;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px 35px;
    width: 140px;
    text-align: center;
}
.tabing-btn > ul li:hover a {
    background: var(--navyblue);
    color: #ffffff;
}
.pricing-card {
    padding: 40px;
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
    transition: 0.3s;
    text-align: left;
}
.pricing-card-icon {
    width: 80px;
    display: block;
    margin: 30px 0;
}
.pricing-curency > h1 {
    display: inline-block;
    margin-left: 30px;
}
.pricing-curency {
    position: relative;
    margin-bottom: 30px;
}
span.pricing-curency-sing {
    position: absolute;
    top: 30px;
    font-size: 18px;
    font-weight: bold;
}
.pricing-opurchunity > ul li {
    padding: 6px 0;
}
.pricing-opurchunity > ul li a{
    color: var(--blue);
    font-weight: 500;
}
.pricing-btn{
    margin-top: 30px;
}
a.Pricing-buy-now{
    background: transparent;
    border: 1px solid var(--navyblue);
    color:var(--blue);
    border-width:1px;
    border-radius: 6px;
    padding: 13px 43px;
    transition: all 0.3s;
    transform: scale(0.9);
    font-weight: 500;
    text-transform: capitalize;
}
a.Pricing-buy-now:hover {
    background: var(--blue);
    color: #fff;
    transform: scale(1);
}
.pricing-table {
    margin-top: 50px;
}
/* End Pricing Area */

/* Start Testimonial Area */
.testimonial-area{
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 195px;
}
.testimonial-bg-circle{
    width:100px;
    position: absolute;
    top:10%;
    left:15%;
    z-index: -1;
}
.all-testimonial-card {
    margin-top: 45px;
}
.testimonial-card {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 10px 20px 0px rgba(176, 176, 176, 0.1);
    text-align: left;
    margin: 0 15px;
}
.client-info {
    display: flex;
    justify-content: space-between;
}
.testimonial-text {
    margin-bottom: 30px;
    margin-top: 10px;
}
.testimonial-text > p {
    margin-bottom: 0;
}
.client-photo {
    width: 90px;
}
.client-name-position > span {
    display: block;
    margin-top: 9px;
}
/* End Testimonial Area */

/* Start Qst Area */
.qst-area{
    padding-bottom: 95px;
}
.qst-content {
    margin-top: -100px;
    padding: 30px 90px;
    position: relative;
    box-shadow: 0px 15px 30px 0px rgba(47, 109, 255, 0.1);

}
img.qst-bg-shep {
    position: absolute;
    width: 100px;
    top: 14%;
    left: 40%;
    z-index: -1;
}
.qst-heading {
    margin-bottom: 30px;
    text-align: left;
    margin-left: 20px;
}
.qst-btn-signeture {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.qst-btn-signeture a {
    margin-right: 30px;
}
.qst-heading > h2 > span {
    color: var(--navyblue);
}
.qst-man-picture{
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
@keyframes floatImage {
    0% {
        transform:translateY(0);
    }
    50% {
        transform:translateY(-24px);
    }
    100% {
        transform:translateY(0);
    }
}
/* End Qst Area */

/* Start Blog Area */
.blog-area{
    padding-top: 0px;
    padding-bottom: 60px;
    position: relative;
}
.blog-content {
    margin-top: 45px;
}
.blog-item {
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 35px;
}
.blog-picture {
    transition: 0.3s ease-in;
}
.blog-item:hover .blog-picture {
    transform: scale(1.1);
}
.blog-item-info {
    margin-top: 30px;
}
.serial-tag-name-heading {
    display: flex;
    align-items: center;
}
.blog-number {
    text-align: center;
    padding: 10px 15px;
    border: 1px solid var(--navyblue);
    border-radius: 6px;
    margin-right: 25px;
    width: 20%;
    transition: 0.3s ease-in;
    overflow: hidden;
}
.blog-number:hover{
    background-color: var(--navyblue);
    color: #ffffff;
    transform: scale(1.1);
    border-radius: 6px;
}
.blog-heading > h4 {
    text-align: left;
    margin-top: 10px;
}
.blog-tag-heading-name {
    width: 100%;
}
.name-and-tag {
    text-align: left;
}
span.tag {
    font-size: 14px;
}
span.name {
    font-size: 14px;
    float: right;
}
.blog-tag-heading-name > a {
    color: var(--blue);
}
span.tag > a,
span.name > a{
    color: var(--blue);
}
/* End Blog Area */

/* Start Footer Area */
.footer-area{
    padding-bottom: 50px;
    position: relative;
}
.all-footer-content{
    padding-top: 50px;
}
.footer-content-1,
.footer-content-2,
.footer-content-3,
.footer-content-4 {
    margin-bottom: 40px;
}
.footer-logo {
    width: 220px;
    margin-bottom: 20px;
}
.footer-logo-text {
    text-align: left;
}
.footer-logo-text > p {
    font-weight: 500;
    font-size: 15px;
}
span.footer-map {
    width: 50px;
    display: inline-block;
    margin-right: 20px;
}
.map-and-location {
    display: flex;
    align-items: center;
}
.map-and-location > p {
    text-align: left;
    font-weight: 500;
    font-size: 15px;
}
.footer-location-title {
    margin-bottom: 20px;
    text-align: left;
}
span.footer-email {
    width: 50px;
    display: inline-block;
    margin-right: 30px;
}
.footer-email-icon-and-email {
    display: flex;
    align-items: center;
}
.footer-email-title {
    margin-bottom: 20px;
    text-align: left;
}
.footer-email-icon-and-email > a {
    color: var(--navyblue);
    font-weight: 500;
}
.footer-subscribe-box {
    margin-top: 20px;
    text-align: left;
    position: relative;
}
form {
    background: #ffffff;
}
input[type="text"] {
    border: none;
    background: #ffffff;
    padding: 12px 12px;
}
a.subscribe-btn i {
    color: #ffffff;
}
a.subscribe-btn {
    background: var(--navyblue);
    padding: 12px 12px;
    position: absolute;
    width: 30%;
    text-align: center;
}
a.subscribe-btn:hover{
    background: var(--blue);
}
.footer-subscribe-box-title {
    text-align: left;
}
/* End Footer Area */

